<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="'/repositories'">Repositories</a></li>
  <li class="breadcrumb-item active">{{ repo }}</li>
  <li class="breadcrumb-item active">{{ name }}</li>
  <a style="flex-grow: 1; text-align: right" [routerLink]="['/logout']">Logout</a>
</ol>

<div class="container">
  <div class="list-group">
    <a [routerLink]="['tag', tag]"
       class="list-group-item list-group-item-action flex-column align-items-start"
       *ngFor="let tag of tags">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <h5 class="mb-1">{{ tag }}</h5>
        <i class="fa fa-trash-o trash-icon" (click)="delete($event, tag)"></i>
      </div>
    </a>

    <app-spinner *ngIf="loading"></app-spinner>

    <div *ngIf="!loading && tags?.length === 0" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <h5 class="mb-1">No tags</h5>
      </div>
    </div>
  </div>
</div>
